In [1]:
from google.colab import files
import io

uploaded = files.upload()

Saving house_data.xlsx to house_data.xlsx

In [2]:
import numpy as np 
import pandas as pd

houseData = pd.read_excel(io.BytesIO(uploaded['house_data.xlsx']))
houseData.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0,0.0,0.0,...,7.0,1180.0,0.0,1955.0,0.0,98178.0,47.5112,-122.257,1340.0,5650.0
1,6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,...,7.0,2170.0,400.0,1951.0,1991.0,98125.0,47.7210,-122.319,1690.0,7639.0
2,5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,...,6.0,770.0,0.0,1933.0,0.0,98028.0,47.7379,-122.233,2720.0,8062.0
3,2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,...,7.0,1050.0,910.0,1965.0,0.0,98136.0,47.5208,-122.393,1360.0,5000.0
4,1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,...,8.0,1680.0,0.0,1987.0,0.0,98074.0,47.6168,-122.045,1800.0,7503.0

In [3]:
houseData.describe() # descriptive analyses

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [4]:
houseData.dtypes #print column data types

id               float64
date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront       float64
view             float64
condition        float64
grade            float64
sqft_above       float64
sqft_basement    float64
yr_built         float64
yr_renovated     float64
zipcode          float64
lat              float64
long             float64
sqft_living15    float64
sqft_lot15       float64
dtype: object

In [5]:
print(houseData.shape[0])#print number of rows
print(houseData.shape[1])#print number of columns

21613
21

In [6]:
houseData = houseData.drop(['id', 'zipcode', 'date', 'lat','long'], axis=1)

In [7]:
houseData.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15'],
      dtype='object')

In [8]:
houseData.corr()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
price,1.000000,0.308350,0.525138,0.702035,0.089661,0.256794,0.266369,0.397293,0.036362,0.667434,0.605567,0.323816,0.054012,0.126434,0.585379,0.082447
bedrooms,0.308350,1.000000,0.515884,0.576671,0.031703,0.175429,-0.006582,0.079532,0.028472,0.356967,0.477600,0.303093,0.154178,0.018841,0.391638,0.029244
bathrooms,0.525138,0.515884,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,-0.124982,0.664983,0.685342,0.283770,0.506019,0.050739,0.568634,0.087175
sqft_living,0.702035,0.576671,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,-0.058753,0.762704,0.876597,0.435043,0.318049,0.055363,0.756420,0.183286
sqft_lot,0.089661,0.031703,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,-0.008958,0.113621,0.183512,0.015286,0.053080,0.007644,0.144608,0.718557
floors,0.256794,0.175429,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,-0.263768,0.458183,0.523885,-0.245705,0.489319,0.006338,0.279885,-0.011269
waterfront,0.266369,-0.006582,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,0.016653,0.082775,0.072075,0.080588,-0.026161,0.092885,0.086463,0.030703
view,0.397293,0.079532,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,0.045990,0.251321,0.167649,0.276947,-0.053440,0.103917,0.280439,0.072575
condition,0.036362,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,1.000000,-0.144674,-0.158214,0.174105,-0.361417,-0.060618,-0.092824,-0.003406
grade,0.667434,0.356967,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,-0.144674,1.000000,0.755923,0.168392,0.446963,0.014414,0.713202,0.119248
sqft_above,0.605567,0.477600,0.685342,0.876597,0.183512,0.523885,0.072075,0.167649,-0.158214,0.755923,1.000000,-0.051943,0.423898,0.023285,0.731870,0.194050
sqft_basement,0.323816,0.303093,0.283770,0.435043,0.015286,-0.245705,0.080588,0.276947,0.174105,0.168392,-0.051943,1.000000,-0.133124,0.071323,0.200355,0.017276
yr_built,0.054012,0.154178,0.506019,0.318049,0.053080,0.489319,-0.026161,-0.053440,-0.361417,0.446963,0.423898,-0.133124,1.000000,-0.224874,0.326229,0.070958
yr_renovated,0.126434,0.018841,0.050739,0.055363,0.007644,0.006338,0.092885,0.103917,-0.060618,0.014414,0.023285,0.071323,-0.224874,1.000000,-0.002673,0.007854
sqft_living15,0.585379,0.391638,0.568634,0.756420,0.144608,0.279885,0.086463,0.280439,-0.092824,0.713202,0.731870,0.200355,0.326229,-0.002673,1.000000,0.183192
sqft_lot15,0.082447,0.029244,0.087175,0.183286,0.718557,-0.011269,0.030703,0.072575,-0.003406,0.119248,0.194050,0.017276,0.070958,0.007854,0.183192,1.000000

In [9]:
houseData = houseData.drop(['sqft_above'], axis=1)

In [10]:
houseData.corr()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
price,1.000000,0.308350,0.525138,0.702035,0.089661,0.256794,0.266369,0.397293,0.036362,0.667434,0.323816,0.054012,0.126434,0.585379,0.082447
bedrooms,0.308350,1.000000,0.515884,0.576671,0.031703,0.175429,-0.006582,0.079532,0.028472,0.356967,0.303093,0.154178,0.018841,0.391638,0.029244
bathrooms,0.525138,0.515884,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,-0.124982,0.664983,0.283770,0.506019,0.050739,0.568634,0.087175
sqft_living,0.702035,0.576671,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,-0.058753,0.762704,0.435043,0.318049,0.055363,0.756420,0.183286
sqft_lot,0.089661,0.031703,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,-0.008958,0.113621,0.015286,0.053080,0.007644,0.144608,0.718557
floors,0.256794,0.175429,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,-0.263768,0.458183,-0.245705,0.489319,0.006338,0.279885,-0.011269
waterfront,0.266369,-0.006582,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,0.016653,0.082775,0.080588,-0.026161,0.092885,0.086463,0.030703
view,0.397293,0.079532,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,0.045990,0.251321,0.276947,-0.053440,0.103917,0.280439,0.072575
condition,0.036362,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,1.000000,-0.144674,0.174105,-0.361417,-0.060618,-0.092824,-0.003406
grade,0.667434,0.356967,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,-0.144674,1.000000,0.168392,0.446963,0.014414,0.713202,0.119248
sqft_basement,0.323816,0.303093,0.283770,0.435043,0.015286,-0.245705,0.080588,0.276947,0.174105,0.168392,1.000000,-0.133124,0.071323,0.200355,0.017276
yr_built,0.054012,0.154178,0.506019,0.318049,0.053080,0.489319,-0.026161,-0.053440,-0.361417,0.446963,-0.133124,1.000000,-0.224874,0.326229,0.070958
yr_renovated,0.126434,0.018841,0.050739,0.055363,0.007644,0.006338,0.092885,0.103917,-0.060618,0.014414,0.071323,-0.224874,1.000000,-0.002673,0.007854
sqft_living15,0.585379,0.391638,0.568634,0.756420,0.144608,0.279885,0.086463,0.280439,-0.092824,0.713202,0.200355,0.326229,-0.002673,1.000000,0.183192
sqft_lot15,0.082447,0.029244,0.087175,0.183286,0.718557,-0.011269,0.030703,0.072575,-0.003406,0.119248,0.017276,0.070958,0.007854,0.183192,1.000000

In [11]:
houseData.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3.0,1.00,1180.0,5650.0,1.0,0.0,0.0,3.0,7.0,0.0,1955.0,0.0,1340.0,5650.0
1,538000.0,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3.0,7.0,400.0,1951.0,1991.0,1690.0,7639.0
2,180000.0,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3.0,6.0,0.0,1933.0,0.0,2720.0,8062.0
3,604000.0,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5.0,7.0,910.0,1965.0,0.0,1360.0,5000.0
4,510000.0,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3.0,8.0,0.0,1987.0,0.0,1800.0,7503.0

In [12]:
houseData = houseData.drop(['yr_renovated'], axis=1)

In [13]:
bins = [1900, 1915 , 1930, 1945, 1960, 1975, 1990, 2005, 2020] #binning
labels = [1,2,3,4,5,6,7,8]
houseData['yr_built_binned'] = pd.cut(houseData['yr_built'], bins=bins, labels=labels)

In [14]:
houseData.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_basement,yr_built,sqft_living15,sqft_lot15,yr_built_binned
0,221900.0,3.0,1.00,1180.0,5650.0,1.0,0.0,0.0,3.0,7.0,0.0,1955.0,1340.0,5650.0,4
1,538000.0,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3.0,7.0,400.0,1951.0,1690.0,7639.0,4
2,180000.0,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3.0,6.0,0.0,1933.0,2720.0,8062.0,3
3,604000.0,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5.0,7.0,910.0,1965.0,1360.0,5000.0,5
4,510000.0,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3.0,8.0,0.0,1987.0,1800.0,7503.0,6

In [15]:
houseData = houseData.drop(['yr_built'], axis=1)

In [16]:
houseData.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_basement,sqft_living15,sqft_lot15,yr_built_binned
0,221900.0,3.0,1.00,1180.0,5650.0,1.0,0.0,0.0,3.0,7.0,0.0,1340.0,5650.0,4
1,538000.0,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3.0,7.0,400.0,1690.0,7639.0,4
2,180000.0,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3.0,6.0,0.0,2720.0,8062.0,3
3,604000.0,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5.0,7.0,910.0,1360.0,5000.0,5
4,510000.0,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3.0,8.0,0.0,1800.0,7503.0,6

In [17]:
houseData = houseData.drop(['waterfront'], axis=1)

In [18]:
cat = ['yr_built_binned'] #one-hot encoding

for var in cat:
    houseData = pd.concat([houseData, pd.get_dummies(houseData[var], prefix=var)], axis=1)
    del houseData[var]

In [19]:
houseData.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,sqft_basement,sqft_living15,sqft_lot15,yr_built_binned_1,yr_built_binned_2,yr_built_binned_3,yr_built_binned_4,yr_built_binned_5,yr_built_binned_6,yr_built_binned_7,yr_built_binned_8
0,221900.0,3.0,1.00,1180.0,5650.0,1.0,0.0,3.0,7.0,0.0,1340.0,5650.0,0,0,0,1,0,0,0,0
1,538000.0,3.0,2.25,2570.0,7242.0,2.0,0.0,3.0,7.0,400.0,1690.0,7639.0,0,0,0,1,0,0,0,0
2,180000.0,2.0,1.00,770.0,10000.0,1.0,0.0,3.0,6.0,0.0,2720.0,8062.0,0,0,1,0,0,0,0,0
3,604000.0,4.0,3.00,1960.0,5000.0,1.0,0.0,5.0,7.0,910.0,1360.0,5000.0,0,0,0,0,1,0,0,0
4,510000.0,3.0,2.00,1680.0,8080.0,1.0,0.0,3.0,8.0,0.0,1800.0,7503.0,0,0,0,0,0,1,0,0

In [20]:
data_columns = houseData.columns #variable selection
X = houseData[data_columns[data_columns != 'price']]
y = houseData['price']

In [21]:
print(X)

       bedrooms  bathrooms  sqft_living  sqft_lot  floors  view  condition  \
0           3.0       1.00       1180.0    5650.0     1.0   0.0        3.0
1           3.0       2.25       2570.0    7242.0     2.0   0.0        3.0
2           2.0       1.00        770.0   10000.0     1.0   0.0        3.0
3           4.0       3.00       1960.0    5000.0     1.0   0.0        5.0
4           3.0       2.00       1680.0    8080.0     1.0   0.0        3.0
...         ...        ...          ...       ...     ...   ...        ...
21608       3.0       2.50       1530.0    1131.0     3.0   0.0        3.0
21609       4.0       2.50       2310.0    5813.0     2.0   0.0        3.0
21610       2.0       0.75       1020.0    1350.0     2.0   0.0        3.0
21611       3.0       2.50       1600.0    2388.0     2.0   0.0        3.0
21612       2.0       0.75       1020.0    1076.0     2.0   0.0        3.0

       grade  sqft_basement  sqft_living15  sqft_lot15  yr_built_binned_1  \
0        7.0            0.0         1340.0      5650.0                  0
1        7.0          400.0         1690.0      7639.0                  0
2        6.0            0.0         2720.0      8062.0                  0
3        7.0          910.0         1360.0      5000.0                  0
4        8.0            0.0         1800.0      7503.0                  0
...      ...            ...            ...         ...                ...
21608    8.0            0.0         1530.0      1509.0                  0
21609    8.0            0.0         1830.0      7200.0                  0
21610    7.0            0.0         1020.0      2007.0                  0
21611    8.0            0.0         1410.0      1287.0                  0
21612    7.0            0.0         1020.0      1357.0                  0

       yr_built_binned_2  yr_built_binned_3  yr_built_binned_4  \
0                      0                  0                  1
1                      0                  0                  1
2                      0                  1                  0
3                      0                  0                  0
4                      0                  0                  0
...                  ...                ...                ...
21608                  0                  0                  0
21609                  0                  0                  0
21610                  0                  0                  0
21611                  0                  0                  0
21612                  0                  0                  0

       yr_built_binned_5  yr_built_binned_6  yr_built_binned_7  \
0                      0                  0                  0
1                      0                  0                  0
2                      0                  0                  0
3                      1                  0                  0
4                      0                  1                  0
...                  ...                ...                ...
21608                  0                  0                  0
21609                  0                  0                  0
21610                  0                  0                  0
21611                  0                  0                  1
21612                  0                  0                  0

       yr_built_binned_8
0                      0
1                      0
2                      0
3                      0
4                      0
...                  ...
21608                  1
21609                  1
21610                  1
21611                  0
21612                  1

[21613 rows x 19 columns]

In [22]:
print(y)

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [23]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [24]:
from sklearn.model_selection import train_test_split #spliting data
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,test_size=0.3, random_state=42)

In [25]:
from sklearn.ensemble import RandomForestRegressor #RandomForest Machine Learning model
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error

forest = RandomForestRegressor()
pipeReg = Pipeline([('Scaler', StandardScaler()), ('regressor', RandomForestRegressor())])
pipeReg.fit(X_train, y_train)

# making predictions
yPredF = pipeReg.predict(X_test)
mean_squared_error(y_test, yPredF)

print(pipeReg.score(X_test, y_test))

0.6971958945973296

In [27]:
from sklearn import linear_model 
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

# Import metrics systems
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.metrics import r2_score

In [28]:
linear = linear_model.LinearRegression() #linear model
tree = DecisionTreeRegressor()
svr = SVR(kernel='rbf',C=8)

linear.fit(X_train, y_train)
tree.fit(X_train, y_train)
svr.fit(X_train, y_train)

linear_predict = pd.DataFrame(linear.predict(X_test))
tree_predict = pd.DataFrame(tree.predict(X_test))
svr_predict = pd.DataFrame(svr.predict(X_test))
y_real = pd.DataFrame(y_test)


new_df = pd.DataFrame() 

new_df[['y_real']] = y_real
new_df[['linear_predict']] = linear_predict
new_df[['tree_predict']] = tree_predict

In [29]:
new_df[['svr_predict']] = svr_predict

print(new_df.head())

print('linear score:{0}'.format(linear.score(X_test, y_test)))
print('tree score:{0}'.format(tree.score(X_test, y_test)))
print('svr score:{0}'.format(svr.score(X_test, y_test)))

err_lin = mean_squared_error(y_real, linear.predict(X_test))
err_tree = mean_squared_error(y_real, tree.predict(X_test))
err_svr = mean_squared_error(y_real, svr.predict(X_test))

print(err_lin, err_tree, err_svr)

          y_real  linear_predict  tree_predict    svr_predict
735     365000.0   288428.817459      420000.0  444630.017555
2830    865000.0   141647.117896      187000.0  449390.543018
4106   1038000.0   682673.319735     1014250.0  453279.865880
16218  1490000.0             NaN           NaN            NaN
19964   711000.0             NaN           NaN            NaN
linear score:0.6380179261892
tree score:0.4387971795743013
svr score:-0.050915291384832306
52258096496.0164 81018904706.78806 151716995618.4974

In [31]:
import pickle 
with open('model.pkl', 'wb') as f:
    pickle.dump(pipeReg, f)

In [32]:
linear_pipeReg = Pipeline([('Scaler', StandardScaler()), ('regressor', linear_model.LinearRegression())])
linear_pipeReg.fit(X_train, y_train)

Pipeline(steps=[('Scaler', StandardScaler()),
                ('regressor', LinearRegression())])

In [38]:
with open('linearmodel.pkl', 'wb') as f:
    pickle.dump(linear_pipeReg, f)